@font-face {
  font-family: 'Morganite Black';
  src: url('fonts/MB.ttf');
}

html, body {
  background-color: rgb(250, 250, 250);
  color: black;
}
html {
  font-size: 1vw;
}
body {
  font-size: 2vw;
  letter-spacing: .03em;
  font-family: 'Spectral', serif;
}
h1 {
  font-family: "Morganite Black", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
#intro h1 {
  font-size: 39rem;
  position: relative;
  top: -1.5rem;
}
#intro .inner {
  display: block;

}
